name: 'Tests'

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  tests:
    name: 'All tests (node: v${{ matrix.node }})'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [12, 14, 16]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup cache
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - name: Setup packages
        run: yarn -s setup

      - name: Format files
        run: yarn -s prettier "**/*.js" --check && yarn -s prettier "**/*.{md,css,scss,yaml,yml}" --check

      - name: Lint files
        run: yarn -s lint

      - name: Run unit tests
        run: yarn -s test
        env:
          DATABASE: sqlite
          DATABASE_FILE: .tmp/test.db
          DEBUG: true
          SEARCH_PLUGIN: true
          ALGOLIA_PROVIDER_ADMIN_API_KEY: ${{ secrets.ALGOLIA_PROVIDER_ADMIN_API_KEY }}
          ALGOLIA_PROVIDER_APPLICATION_ID: ${{ secrets.ALGOLIA_PROVIDER_APPLICATION_ID }}

      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
